$core-alpha-dim-50: #1a1a1a0f;
$core-alpha-dim-800: #1a1a1acc;
$core-gray-00: #fff;
$core-gray-300: #c9c9ce;
$core-gray-500: #8c8c9a;
$core-gray-950: #2c2c31;
$core-red-100: #ffdcdc;
$core-red-600: #dc2828;
$core-yellow-100: #faf1b6;
$core-yellow-700: #a56315;
$o2-blue-500: #0050ff;
