$dimension-radius-input: 12px;
$dimension-xs: 8px;
$dimension-s: 12px;
$dimension-m: 16px;
$dimension-l: 20px;
$dimension-xl: 24px;
$dimension-3xl: 32px;
$dimension-4xl: 40px;
$dimension-5xl: 48px;
$dimension-7xl: 64px;
